---
---

@import "jekyll-theme-hacker";

nav {
  margin-top: 1em;
}

nav .btn {
  display: inline-block;
  margin: 0.2em 0.1em;
  padding: 0.3em 0.6em;
  font-size: 0.85em;
}

.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  margin: 1em 0;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
